*{
    margin: 0;
    padding: 0;
}

body {
    background: gray;
    font-family: Arial, sans-serif;
}


.nav{
    text-align: center;
    background-color: #ffcccc;
}

.nav a{
    margin: 120px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.nav a:active{
    color: red;
}

h1 {
    text-align: center;
    padding: 20px;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

#task-list{
    background-color: #ffcccc;
    color: red;
}

.autre{
    text-align: center;
    width: 900px;
    border-radius: 10px;
    padding: 30px;
    background-color: black;
    color: white;
    font-size: 18px;
}

.autre p{
    font-size: 20px;
}

.autre h1{
    padding: 30px;
}

.autre input{
    text-align: center;
}

.btn{
    font-size: 18px;
    margin: 10px;
    background-color: #ffcccc;
}

.btn a{
    color: black;
    text-decoration: none;
}

.btn a:active{
    color: red;
}

.btn-blue{
    color: white;
    background-color: blue;
    padding: 10px;
}

.btn-blue a{
    color: white;
    text-decoration: none;
}

.btn-blue:hover{
    color: blue;
    background-color: white;
}

.btn-blue a:hover{
    color: blue;
}
